@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    <div>
        <div style="float:left;margin-right: 10px;">
            <img src="~/Content/Resources/profile.jpg" width="100" height="100">
        </div>
        <div>
            FirstStats, LLC.<br />
            Fairfax, VA. 22030<br />
            <abbr title="Phone">P:</abbr>
            571.393.1424
        </div>
    </div>
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:allotisam@hotmail.com">aLLoTiSaM@hotmail.com</a><br />
</address>

<p>
    Spc Bowling Website was created in honor of Jopox's constant bitching and yapping!!!
    <br />
    Thanks for the unconditional motivation ^^
</p>